html {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/** SELECTORES **/

/* Clases */
.faltante {
  color: red;
}

/* Identificador unico */
#item-secreto {
  color: green;
}

/** FUENTES **/

p {
  /* font-family: "Tahoma", sans-serif; */

  font-size: 20px;

  /* font-weight: bold; */

  /* font-style: italic; */
  /* font-style: oblique; */
  font-style: normal;

  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;

  text-decoration: underline;
  text-decoration: overline;
  text-decoration: overline underline;
  text-decoration: line-through; /* Tachar */
  text-decoration: none;

  line-height: normal; /* Espaciado entre líneas */
  line-height: 1.5;
  line-height: normal;

  letter-spacing: 10px; /* Espaciado entre letras */
  letter-spacing: normal;

  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
  text-transform: none;
}

/* MODELO DE CAJA*/

/* El margen no forma parte de la caja
   Padding, border y contenido si. 
*/

.box {
  margin-bottom: 1rem; /* Espacio entre cajas, es externo */
  padding: 1rem; /* Espacio entre el contenido y el borde de una caja, relleno. */
  background-color: red;
  width: 300px;
  height: 100px;
}

.form {
  padding: 1rem;
  background-color: blueviolet;
}

.form-input {
  padding: 0.2rem;
  width: 100%;
}

.form-button {
  width: 50%;
  background-color: red;
  color: white;
}

/* BORDES */

.box-border {
  background-color: red;
  width: 200px;
  margin: auto;
  text-align: center;

  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 0.5rem;
  border-top: solid black 10px;
  border-bottom: dashed darkcyan 4px;
}

/* Existe el margin-collapse, en margenes verticales, el margen mas grande es el que predomina */

/* BORDER y CONTENT BOX */

.box-border-content {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}

.box-default {
  padding: 25px;
  border: 10px solid black;
}

.new-box {
  box-sizing: border-box; /* Que el contenido se adapte */
  padding: 25px;
  border: 10px solid black;
}

/* COLORES */

.box-colors {
  width: 100px;
  height: 100px;
  background-color: #ff6600; /* Hexadecimal */
  background-color: #00000055; /* Con opacidad */
  background-color: rgb(
    255,
    102,
    0
  ); /* RGB - Bit (0/1) 2 elevado a la potencia 8 = 2*2*2*2*2*2*2*2 = 256 
  Por cada canal de color tenemos valores que van del 0 al 255*/
  background-color: rgba(0, 0, 0, 0.92); /* Con opacidad */
  background-color: hsl(
    0,
    0%,
    100%
  ); /* Sistema HSl HueSaturationLightness (Tono-Saturación-Luminosidad) El primer es Hue (Círculo Cromático)
  0° -> red
  60° -> yellow
  120° -> green
  180° -> cyan
  240° -> blue
  300° -> magenta

El segundo valor es Saturation (Intensidad del Color)
  0% -> Escala de grises
  100% -> Color puro

El tercer valor es Lightness (Luminosidad del Color)
  0% -> negro
  50% -> color puro
  100% -> blanco */
  background-color: hsla(30, 100%, 50%, 0.25); /* Con opacidad */
}

/* 
Valor transparent: color transparente es igual a aplicar rgba(0,0,0,0)
Valor currentColor: Hereda el valor por defecto o asignado de la propiedad color, del ancestro que tenga definida esta propiedad, busca del ancestro más cercano al más alejado
*/

/* UNIDADES DE MEDIDA */

/* 
Unidades de Medida
  1) Absolutas (Su valor no cambia, son unidades del mundo real)
    pc, cm, mm, in, Q
    pt (1/72in)
    px (1/96in)
  2) Relativas (Su valor es relativo a un contexto)
    em, rem, ex, ch - al tamaño de la fuente
      em - basada en la anchura de la "m" de la fuente del elemento
      rem -  basada en la anchura de la "m" de la fuente del elemento raíz (html)
      ex - basada en la altura de la "x" de la fuente del elemento
      ch - basada en la anchura del "0" de la fuente del elemento
    % - al tamaño del contenedor
    vw, vh, vmin, vmax - al tamaño del viewport
      vw - ancho del viewport van de 1 a 100
      vh - alto del viewport van de 1 a 100
      vmax - entre vw y vh toma el que tenga mayor valor
      vmin - entre vw y vh toma el que tenga menor valor

  Conversiones entre unidades - https://pxtoem.com/

  PARA TAMAÑOS FUENTE, ESPACIADO, TIPOGRAFIA EN GENERAL : EM, REMS
  PARA LAYOUTS O DIMNESIONES DE ELEMENTOS: PORCENTAJES, EM, REMS
*/

.box-units {
  margin: 1rem;
  background-color: #ededed;
  font-family: sans-serif;
  border-left: 5px solid #999;
}

.box-units h1 {
  margin: 0;
}

.box-units span {
  color: #999;
  font-size: 16px;
  font-weight: 100;
}

.pixels {
  width: 500px;
  height: 400px;
  padding: 20px;
  font-size: 32px;
}

.ems {
  font-size: 24px;
  padding: 1em 0.5em;
}

.em-child {
  background-color: salmon;
  border: thick solid beige;
  margin: 0.5em;
  padding: 1em;
  font-size: 2em;
}

.rems {
  font-size: 24px;
  padding: 1rem 0.5rem;
}

.rem-child {
  background-color: salmon;
  border: thick solid beige;
  margin: 0.5rem;
  padding: 1rem;
  font-size: 2rem; /* Ignora el font-size */
}

.exs {
  font-size: 24px;
  padding: 1ex 0.5ex;
}

.ex-child {
  background-color: salmon;
  border: thick solid beige;
  margin: 0.5ex;
  padding: 1ex;
  font-size: 2ex;
}

.chs {
  margin: 0;
  padding: 0;
  background-color: cadetblue;
  width: 10ch;
}

.percentages {
  padding: 5%;
  margin: 15% 10%;
  width: 80%;
  font-size: 100%; /* sera siempre de 16px o del font-size del contenedor padre*/
  height: 100%;
}

.height-parent {
  background-color: brown;
  width: 500px;
  height: 500px;
  font-size: 24px;
}

.height-child {
  background-color: coral;
  width: 50%;
  height: 50%;
  font-size: 50%;
}

.viewport {
  width: 50vw;
  /* Recuerda que la etiqueta body tiene margenes por defecto y recuerda que las barras de scroll del navegador también forman parte del viewport */
  width: 100%;
  width: 100vw;
  height: 50vh;
  height: 100vh;
  font-size: 5vw;
  padding: 2vw 2vh;
}

/* BACKGROUNDS */

.box-background {
  width: 300px;
  height: 200px;
}

.color {
  background-color: pink;
}

.image {
  z-index: 999;
  width: 100%;
  height: 600px;
  background-image: url("https://scontent.fepa9-2.fna.fbcdn.net/v/t39.30808-6/431351105_8324892264194807_8182465499493902928_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=gqfYc3Gpm6QAX9_9qMq&_nc_oc=AdhzYakBU1SoXpveAoowdSAh5u08yDKNHK5Wg_dAxyAKbp2jom7nUCklyhABqplh0jE&_nc_ht=scontent.fepa9-2.fna&oh=00_AfAmIxipgrVmCA3tJTNv_-kKdc2m89PZHg2iqNNkmENhJg&oe=65FFB80D");
  background-size: contain; /* Obliga al contenedor a que la imagen entre, a que se adapte, que en el espacio que le dimos, la imagen entre al menos una vez */
  background-size: cover; /* No importa la dimension, que se ajuste a la dimension que tiene que tener */
  background-position: center; /* Dependiendo de lo que tengamos, llevar la imagen a donde queremos, top , left , right, bottom */
  background-repeat: no-repeat; /* repet-y repeat-x , se usa mas que nada en conjunto con contain, con cover solo si se mueve con position para algun lado */
  background-attachment: fixed;
}

.image-opacity {
  width: 100%;
  height: 100%;
  background-color: #000a;
}

/* GRADIENTES */

.box-gradients {
  width: 400px;
  height: 400px;
}

.lineal {
  background: linear-gradient(#000a, transparent);
  background: linear-gradient(
    to right,
    #000,
    transparent
  ); /* Arranca a la derecha hacia izquierda, viceversa arranca a la izquierda y va hacia la derecha*/
  /* tambien podemos definir el porcentaje de cada color o transparencia */
}

.conic {
  background: conic-gradient(blue, #000a);
}

.radial {
  background: radial-gradient(green, #000a);
}

/* SOMBRAS */

.box-shadow {
  padding: 20px;
  margin: 1rem auto;
  width: 300px;
  height: auto;
  background-color: cadetblue;
  border-radius: 0.5rem;
  box-sizing: border-box;
  text-align: center;

  box-shadow: 0px 0px 30px 0px #000; /* El primer parametro es el movimiento horizontal , el segundo es el movimiento vertical, el tercero es el desenfoque, y el cuarto es la extension , despues el color. El parametro que destaca es el desenfoque */
}

.box-shadow h3 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 20px;
}

.box-shadow p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.4;
  text-shadow: 0 0 4px #f88;
}

.shadow-img {
  padding-bottom: 1rem;
  width: 200px;
  border-radius: 100%;
  filter: drop-shadow(
    0px 0px 10px #000
  ); /* para imagenes png , con canal alfa o fondo transparente */
}

/* Formulario Básico */

.formulario {
  box-sizing: border-box;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 850px;
  background-color: #f88;
  font-size: 22px;
}

.formulario h2 {
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 1rem;
  border: 2px solid rebeccapurple;
  border-radius: 0.5rem;
}

legend {
  font-size: 1em;
  padding: 0 5px;
}

input,
textarea,
select {
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 100%;
  font-family: "Onest";
  border: none;
  border-left: 3px solid #999;
  border-radius: 5px;
  box-sizing: border-box;
}

.formulario textarea {
  resize: none;
}

.formulario label {
  margin-bottom: 1rem;
  font-size: 0.7em;
}

.checkbox {
  width: auto;
  height: 10px;
}

/* DETAILS Y SUMMARY */

details {
  margin-top: 1rem;
  background-color: cadetblue;
  color: #ededed;
}

details[open] {
  font-weight: 700;
}

details p {
  font-weight: 100;
}

/* TABLAS */

table {
  box-sizing: border-box;
  margin: 1rem auto;
  max-width: 500px;
  border-spacing: 10px;
  border-left: 5px solid #000a;
  box-shadow: 0px 0px 10px 0px;
}

tr {
  text-align: center;
}

td,
th {
  padding: 1rem 3rem;
  border: none;
  border-bottom: 1px solid #999;
}

/* SELECTORES */

/* 

.hijos-directos > li {
  background-color: thistle;
}

.hijos-descendientes b {
  background-color: thistle;
}


Los SELECTORES DE HERMANOS van a aplicar a los elementos que son hermanos y que estén por debajo del elemento de referencia 

.hermanos-general ~ li {
  background-color: thistle;
}

.hermanos-adyacentes + li {
  background-color: thistle;
}


SELECTORES DE ATRIBUTOS

.selectores-atributos a[href] {
  color: orangered;
}

.selectores-atributos a[target="_blank"] {
  font-weight: bold;
}

El comodín del * aplica el estilo si contiene el texto en cuestión en cualquier parte 
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

El comodín del ^ aplica el estilo si contiene el texto en cuestión al inicio
.selectores-atributos a[href^="http://"]
{
  text-decoration: none;
}

El comodín del $ aplica el estilo si contiene el texto en cuestión al final 
.selectores-atributos a[href$=".com"] {
  background-color: black;
}

El comodín del ~ aplica el estilo si contiene el texto en cuestión en una lista separada por espacios 
.selectores-atributos a[class~="cursos"] {
  background-color: midnightblue;
}

El comodín del | aplica el estilo si contiene el texto en cuestión en una lista separada por espacios y que despues del texto en cuestión venga un guión medio
.selectores-atributos a[class|="menu"] {
  font-style: italic;
}


SELECTOR UNIVERSAL
* {
  font-family: sans-serif;
}

.selector-universal * {
  font-size: 24px;
}



PSEUDOCLASES - Dan estilos dependiendo del contexto, posición o estado del elemento
https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes

.form-pseudoclases *:required {
  border-color: yellow;
}

.form-pseudoclases *:valid {
  border-color: green;
}

.form-pseudoclases *:invalid {
  border-color: red;
}

.form-pseudoclases *:focus {
  background-color: skyblue;
}

.form-pseudoclases *:focus-visible {
  outilne: none ESTO HACERLO CON FOCUS VISIBLE PARA ACCESIBILIDAD
}  

EL OUTLINE OFFSET SE USA APARTE Y NO EN EL SHORTHAND

.form-pseudoclases *:disabled {
  background-color: pink;
}

.menu-pseudoclases a:visited {
  color: olive;
}

.menu-pseudoclases a:hover {
  color: orange;
}

.p-pseudoclases:hover {
  font-size: 20px;
}

#temario-css:target {
  background-color: lightgreen;
}

.lista-pseudoclases li:first-child {
  color: green;
}

.lista-pseudoclases li:last-child {
  color: violet;
}

.lista-pseudoclases li:nth-child(3) {
  color: navy;
}

.lista-pseudoclases li:nth-child(4n) {
  font-size: 20px;
}

.lista-pseudoclases li:nth-child(3n + 1) {
  font-weight: bold;
}

.lista-pseudoclases li:nth-child(even) {
  background-color: yellow;
}

.lista-pseudoclases li:nth-child(odd) {
  background-color: orange;
}

.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}

.articulo-pseudoclases p:last-of-type {
  background-color: violet;
}

.articulo-pseudoclases p:nth-of-type(3) {
  background-color: fuchsia;
}

.articulo-pseudoclases *:not(p) {
  background-color: beige;
}


PSEUDOELEMENTOS - Dan estilos a partes específicas de un elemento, se usa el :: para diferenciarlos de las pseudoclases
https://developer.mozilla.org/es/docs/Web/CSS/Pseudoelementos

.saga-geminis::before {
  content: "🤼‍♂️";
}

.saga-geminis::after {
  content: "♊";
}

.saga-precio::before {
  content: "$";
  font-weight: bold;
}

.saga-precio::after {
  content: "USD";
  font-weight: bold;
}

.p-pseudoelementos::first-letter {
  font-weight: bold;
  font-size: 32px;
}

.p-pseudoelementos::first-line {
  color: coral;
}

.p-pseudoelementos::selection {
  color: greenyellow;
  background-color: black;
}

.input-pseudoelementos::placeholder {
  color: green;
}


AGRUPAR SELECTORES 
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea {
  border-color: yellow;
  border-width: 2px;
  border-style: dashed;
  background-color: black;
  font-size: 20px;
  display: block;
  width: 300px;
}



ALGORITMO DE CSS : Es la forma en que el navegador aplica los estilos al documento HTML. Es vital entender este concepto para que entiendas como se aplican y en algunas ocasiones se sobreescriben las reglas CSS.
  1) La Cascada.
  2) La Especificidad.
  3) La Herencia.

La Cascada es el mecanismo en que el navegador aplica los estilos. Y toma en cuenta lo siguiente en este orden:
  1) El Origen del Código:
    - El User Agent (los estilos por defecto del navegador)
    - Personalizaciones del usuario.
    - Los estilos del autor.
  2) La Especificidad del Selector
  3) Orden de Aparición

La Especificidad es el peso que tiene un selector cuando hay conflicto de estilos. Se calcula de la siguiente forma:
  Etiquetas y pseudoelementos -------------- 0,0,0,1
  Clases, atributos y pseudoclases ------------0,0,1,0
  Identificadores -------------------------------0,1,0,0
  Estilos en línea--------------------------------1,0,0,0
  !important ------------------Rompe la especificidad

La Herencia, es la capacidad de un selector de obtener (heredar) los valores de sus ancestros más cercanos, para aplicarla se usa el valor inherit, si queremos evitarla podemos asignar otro valor o inicializar la propiedad en cuestión con el valor initial

https://web.dev/learn/css/inheritance/#which-properties-are-inheritable


https://autoprefixer.github.io/
https://caniuse.com/

Prefijos de los navegadores
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

*/

/* OBJECT FIT Y POSITION */

.img-object {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  object-fit: fill; /* se adapta, no mantiene la relacion de aspecto */
  object-fit: contain; /* la imagen por lo menos debe entrar 1 vez, se va adaptando */
  object-fit: cover; /* solo se adapta */
  object-fit: none; /* se queda tal cual la resolucion de la imagen */
  object-fit: scale-down; /* se queda del valor mas chico */
  object-position: top;
}
