/* EJERCICIO CSS Básico */

body {
  font-family: "Onest", sans-serif;
  font-weight: 400;
}

.card {
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  width: 400px;
  color: #f5f5f5;
  background-color: #5f9ea0;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 0px 45px #0008;
}

.red-card {
  background-color: #c24037;
}

.green-card {
  background-color: #40b976;
  margin-bottom: 2rem;
}

.card-title {
  margin: 0;
  margin-top: 0.4rem;
}

.card-subtitle {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.card-content {
  padding: 1rem;
  font-size: 1rem;
  background-color: #deb887;
  border-radius: 1rem;
  text-align: justify;
}

.card-img {
  width: 200px;
  border-radius: 50%;
}
